@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
  }
}

#mapid {
  height: 100%;
}

.location__container {
  &::before {
    position: absolute;
  }

  &::after {
    position: absolute;
  }

  &::before,
  &::after {
    border-radius: 50%;
    position: absolute;
    content: ' ';
    display: block;
    bottom: 0,
  }
}
